

/{
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none       &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      
                &none       &kp PG_UP   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5
                &none       &kp PG_DN   &kp Q       &kp W       &kp E       &kp R       &kp T
                &none       &kp HOME    &kp A       &kp S       &kp D       &kp F       &kp G
                &none       &kp END     &kp Z       &kp X       &kp C       &kp V       &kp B
                                                    &kp MINUS   &kp EQUAL   &kp SPACE   &mo 1
                                                                            &kp LALT    &kp LSHFT
                                                                            &kp DEL     &kp LCTRL
            >;
        };

        bt_layer {
            bindings = <
                &none           &none           &none           &none           &none           &none           &none
                &bootloader     &bt BT_SEL_0    &bt BT_SEL_1    &bt BT_SEL_2    &bt BT_SEL_3    &none           &none
                &none           &none           &none           &none           &none           &none           &none
                &none           &none           &none           &none           &none           &none           &none
                &none           &none           &none           &none           &none           &none           &none
                                                                &none           &none           &none           &none
                                                                                                &none           &none
                                                                                                &none           &none
            >;
        };
    };
};